@import url(https://fonts.googleapis.com/css?family=Roboto);

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

nav {
  color: white;
}

nav .nav-link {
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 6px;
}

.content {
  padding-top: 64px;
  padding-bottom: 64px;
}

h3 {
  margin-bottom: 1rem;
  color: #333;
}

label {
  opacity: 0.8;
}

.small-text {
  font-size: 12px;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.card {
  margin-bottom: 2rem;
  height: calc(100% - 2rem);
}

.chart-options {
  background-color: #eeeeee;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
}

.chart-options .form-check {
  margin-top: 6px;
}

.message-box {
  padding: 12px 18px;
  border-radius: 6px;
  margin-left: -3px;
  display: inline-block;
  position: relative;
  background: #ffffff;
  border: 1px solid #aaa;
  margin-bottom: 24px;
  max-width: 420px;
}

.message-box:after,
.message-box:before {
  right: 100%;
  top: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.message-box:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 8px;
  margin-top: -8px;
}
.message-box:before {
  border-color: rgba(170, 170, 170, 0);
  border-right-color: #888;
  border-width: 9px;
  margin-top: -9px;
}

.message-time {
  font-size: 0.7rem;
  opacity: 0.8;
  padding: 12px 0;
  text-align: right;
}

.message-translated {
  margin-top: 6px;
  padding-top: 6px;
  border-top: 1px solid #ddd;
  font-style: italic;
  opacity: 0.9;
}

.timeline-col {
  border-right: 2px dashed #888;
}

/* Login modal */
.modal-wrapper {
  background-color: var(--maroon-90);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  backdrop-filter: blur(4px) saturate(50%);
}

#loading-modal {
  text-align: center;
  padding-top: 25%;
  background-color: var(--black-10);
  backdrop-filter: blur(4px) saturate(50%);
}

#loading-modal span {
  animation: blink 1s linear infinite;
  background-color: white;
  border-radius: 6px;
  padding: 12px 18px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
}

.modal-content {
  background-color: white;
  box-shadow: var(--shadow);
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  max-width: 320px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  border: none;
}

/* Map properties */
.map-region {
  stroke-width: 3px;
}

.map-label {
  font-family: sans-serif;
  font-size: 48px;
}

.map-line {
  stroke: black;
  stroke-width: 3px;
}

.analyse-messages-container {
  max-height: 50vh;
  overflow-y: scroll;
}
